.homepage{
  background-color: black;
  background: linear-gradient(-45deg, black, #0e0d0d, black, black);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 91vh;
  color:antiquewhite;
  display: flex;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.upperText{
  align-items: center;  
  width: 100%;
  justify-content: center;
  display: block;
  justify-self: center;
  justify-items: center;
  align-self: center;
}

.lowerText{
  align-items: center;  
  width: 100%;
  justify-content: center;
  display: flex;
  justify-self: center;
  justify-items: center;
  align-self: center;
}
